version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=belajar_golang_restfull_api
    networks:
      - go-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: belajar_golang_restfull_api
    ports:
      - "3306:3306"
    networks:
      - go-network

networks:
  go-network:
    driver: bridge
